<div id="main">
    <div class="palm-page-header multi-line">    
        <div class="palm-page-header-wrapper">
            <div class="title left un-capitalize"><div style="display: inline-block; vertical-align: middle;"><img src="images/mini-icon.png"></div>&nbsp;Palm Developer Day NYC 2010 Schedule</div>
        </div>
    </div>
    <div id="schedule_spinner" x-mojo-element="Spinner"></div>
</div>
<div id="ScheduleListContainer">
    <div id="schedule_spinner" x-mojo-element="Spinner"></div>
    <div id="schedule_list" x-mojo-element="FilterList"></div>
</div>
